<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMD</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image" href="/favicon.ico">
</head>

<body>
    <div class="container1">
        <div class="cmdWindow" id="cmd_result_body">
            <div class="titleGroup">
                <div class="cmdTitle">
                    <div><img src="/images/Vector.svg" alt="terminal" width="20px"></div>
                    <div style="text-align: left;">
                        <p style="text-align: left;">Command Prompt</p>
                    </div>
                    <div class="smallClose">
                        <p>X</p>
                    </div>


                </div>
                <div class="actionBtnGroup">
                    <div class="actionBtn" style="letter-spacing:-1px;">---</div>
                    <div class="actionBtn">&#x25A2;</div>
                    <div class="actionBtn" style="width: 60px; " id="close">X</div>
                </div>
            </div>
            <div class="resultGroup" id="result_group">
                <div class="result" id="uniqueDiv">
                    <p class="cmdLineContent">C:\Users\amrit> </p>
                    <input type="text" id="cmd_input">
                </div>

            </div>
        </div>
    </div>
    <script src="/script.js"></script>
</body>

</html>